In [19]:
import pandas as pd
data =pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
test_ids = test["PassengerId"]
data.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C

In [8]:
def clean(data): 
    data = data.drop(["Ticket","Cabin","Name","PassengerId"] ,axis=1)
    
    cols = ["SibSp","Parch", "Fare","Age"]
    
    for col in cols: 
        data[col].fillna(data[col].median(), inplace=True)
        
    data.Embarked.fillna("U", inplace=True)
    return data

data = clean(data)
test = clean(test)

In [9]:
data.head(10)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S
5         0       3    male  28.0      0      0   8.4583        Q
6         0       1    male  54.0      0      0  51.8625        S
7         0       3    male   2.0      3      1  21.0750        S
8         1       3  female  27.0      0      2  11.1333        S
9         1       2  female  14.0      1      0  30.0708        C

In [11]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cols = ['Sex','Embarked']

for col in cols: 
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)
    
data.head(15)

[0 1]
[0 1 2 3]

    Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          0       3    1  22.0      1      0   7.2500         2
1          1       1    0  38.0      1      0  71.2833         0
2          1       3    0  26.0      0      0   7.9250         2
3          1       1    0  35.0      1      0  53.1000         2
4          0       3    1  35.0      0      0   8.0500         2
5          0       3    1  28.0      0      0   8.4583         1
6          0       1    1  54.0      0      0  51.8625         2
7          0       3    1   2.0      3      1  21.0750         2
8          1       3    0  27.0      0      2  11.1333         2
9          1       2    0  14.0      1      0  30.0708         0
10         1       3    0   4.0      1      1  16.7000         2
11         1       1    0  58.0      0      0  26.5500         2
12         0       3    1  20.0      0      0   8.0500         2
13         0       3    1  39.0      1      5  31.2750         2
14         0       3    0  14.0      0      0   7.8542         2

In [26]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

y = data['Survived']
X = data.drop("Survived",axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y,test_size=0.2,random_state=42)

In [29]:
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X_train,y_train)

ValueError: could not convert string to float: 'Partner, Mr. Austen'

In [30]:
predictions = clf.predict(X_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val,predictions)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Cabin
- Name
- PassengerId
- Ticket
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

ValueError: could not convert string to float: 'Moubarek, Master. Halim Gonios ("William George")'

In [18]:
submission_preds = clf.predict(test)

In [20]:
df = pd.DataFrame({"PassengerId":test_ids.values,
                   "Survived":submission_preds,
                  })

In [21]:
df.to_csv("submission.csv",index=False)